<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/recipeStyle.css" />
    <title>Recipe</title>
  </head>
  <body>
    <div class="header">
      <div class="header">
      <h1 class="heading">AllergènZero</h1>
    </div>

    <div class="content">
      <p class="post-rep"><span><img src="images/arrow.png" alt=""> 70% would make this again.</span></p>
      <h1>Berry Slushie Ice Cream</h1>
      <p style="margin: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. A esse aperiam saepe modi similique! Facere pariatur debitis beatae, quasi ea veritatis, aspernatur repellendus, eius vitae numquam nobis autem harum! Voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero in nisi ipsam iste voluptates, illum perferendis architecto ex quae provident exercitationem explicabo obcaecati. Dolores iure nemo voluptas. Voluptatum, modi aperiam!</p>
      <img style="display: block;margin: auto;" src="images/ice-cream.jpeg" alt="">
      <img style="margin-top: 30px;padding: 2px;" src="images/menu-2.png" height="60px" alt="">
      <div class="sidebar">
        <h2>Nutritional Facts</h2>
      </div>
    </div>
  </body>
</html>
